{{question.author}} {{question.content}} {{question.notes}}

<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete Question</button>
